<%- include('partials/header'); -%>

<ul class="greeks">
  <li class="greek">
    <img src="/greek.png" alt="greek greek icon">
    <h4>Alpha</h4>
    <p></p>
  </li>
  <li class="greek">
    <img src="/greek.png" alt="greek greek icon">
    <h4>Beta</h4>
    <p></p>
  </li>
  <li class="greek">
    <img src="/greek.png" alt="greek greek icon">
    <h4>Gamma</h4>
    <p></p>
  </li>
  <li class="greek">
    <img src="/greek.png" alt="greek greek icon">
    <h4>Delta</h4>
    <p></p>
  </li>
  <li class="greek">
    <img src="/greek.png" alt="greek greek icon">
    <h4>Epsilon</h4>
    <p></p>
  </li>
  <li class="greek">
    <img src="/greek.png" alt="greek greek icon">
    <h4>Zeta</h4>
    <p></p>
  </li>
</ul>

<%- include('partials/footer'); -%>