<%- include('partials/header'); -%>

<header>
  <div class="greek">
    <img src="/greek.png" alt="">
  </div>
  <div class="headings">
    <h2>Successfully Logged In!</h2>
    <a href="/greeks" class="btn">Next Page</a>
  </div>
</header>


<%- include('partials/footer'); -%>